.contact {
  margin-top: 80px;
}

.page-header {
  margin-bottom:40px;
}

.inner-form {
  padding: 5% 10% 5% 10%;
}

input {
  height: 50px;
  box-shadow: 2px 2px 2px lightgray;
}

textarea {
  height: 150px;
  box-shadow: 2px 2px 2px lightgray;
}
