<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center" id="contact-me">
      <a target="_blank" href="https://www.linkedin.com/in/rohan-adhyapak-955680a3">
        <fa-icon [icon]="faLinkedin" class="fa-3x"></fa-icon>
      </a>
      &nbsp;&nbsp;
      <a target="_blank" href="https://github.com/RAdhyapak">
        <fa-icon [icon]="faGithub" class="fa-3x"></fa-icon>
      </a>
      &nbsp;&nbsp;
      <a target="_blank" href="https://www.facebook.com/rohnadhyapak">
        <fa-icon [icon]="faFacebook" class="fa-3x"></fa-icon>
      </a>
      &nbsp;&nbsp;
      <a href="mailto:rohan.adhyapak@gmail.com">
        <fa-icon [icon]="faEnvelope" class="fa-3x"></fa-icon>
      </a>
      &nbsp;&nbsp;
      <br>
      <a href="https://radhyapak.github.io/CartoonTownJSGame/" target="_blank">Play a game!</a>
      <hr>
      <small>Developed by Me | Made with Angular <fa-icon [icon]="faAngular" class="fa-1x"></fa-icon> | Hosted on Github <fa-icon [icon]="faGithubO" class="fa-1x"></fa-icon></small>
    </div>
  </footer>