<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center" id="contact-me">
    <a href="https://www.linkedin.com/in/rohan-adhyapak-955680a3">
      <fa-icon [icon]="faLinkedin" class="fa-3x"></fa-icon>
    </a>
    &nbsp;&nbsp;
    <a href="https://www.facebook.com/rohnadhyapak">
      <fa-icon [icon]="faFacebook" class="fa-3x"></fa-icon>
    </a>
    &nbsp;&nbsp;
    <hr>
    <small>Developed by Rohan Adhyapak. Made with Angular</small>
  </div>
</footer>