<nav class="navbar fixed-top navbar-expand-lg navbar-dark dark-background" (scroll)="onWindowScroll($event);">
    <a class="navbar-brand navbar-font" href="">Rohan Adhyapak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" (click)="scrollToId('#heroContainer')">
          <a class="nav-link">
            <fa-icon [icon]="faHome"></fa-icon> Home<span class="sr-only">(current)</span>
          </a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" (click)="scrollToId('#my-story')">
          <a class="nav-link">
            <fa-icon [icon]="faStory"></fa-icon> My Story</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item" (click)="scrollToId('#contact-me')">
          <a class="nav-link">
            <fa-icon [icon]="faContact"></fa-icon> Contact</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item">
          <a class="nav-link" href="/blogs">
            <fa-icon [icon]="faResume"></fa-icon> Resume</a>
        </li>
      </ul>
    </div>
  </nav>