<header id="heroContainer" class="home_hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="animated fadeInUp col-12 text-center vertical-align">
          <div>
            <img class="profileImage" src="assets/images/RohanAdhyapak.jpg">
          </div>
          <h1 class="heading">{{heading}}</h1>
          <p class="subheading"> Backend Engineer at SimCorp</p>
          <span class="subinfo">&nbsp;Software Engineer | M.S in Computer Science | B.Tech in Computer Science & Engineering&nbsp;</span>
        </div>
      </div>
    </div>
  </header>