<app-hero heading="Rohan Adhyapak" img="introImage3.jpg" subheading = "Senior Associate at Morgan Stanley">
</app-hero>

<div class="container" id="my-story">
	<section>
		<div class="page-header text-center my-story-header">
			<h2>My Story<br><h5>The journey till now</h5></h2>
		</div>
		<hr>
		<app-image imgSrc="assets/images/ghy.png" imgHref="https://en.wikipedia.org/wiki/Guwahati" imgCaption="Guwahati"></app-image>
		<p>
			I was born in the city of Guwahati in India. It was back in 2001, when I first crossed paths with a personal computer.
			My father bought these set of boxes that were connected by wires with a screen on one of them,
			where you could draw with virtual paint and play games like solitaire and minesweeper. After using it for a few days,
			I no longer had to fight with my brother for the control of the television. I had found something else to dig 
			my head in. I soon got hold of a Britannica Encyclopedia CD, and played the quiz game over and over, so many times that I
			knew the answers even before reading the questions. Soon enough I got introduced to the programming language of Java as
			part of the school curriculum and all I used to wonder is, how simple instructions that we were writing in Java could be
			actually used to create complex softwares that I used to run on my computer back home. At the time, it seemed improbable.
		</p>
		<p>
			With the increasing love of computers, I moved to Vellore to pursue Bachelors in Computer Science. Motivated with the zeal
			to learn about the craft of software making, I dug deeply into everything I learnt and gradutated with the degree of B.Tech
			in Computer Science.
		</p>
		<app-image imgSrc="assets/images/vit.png" imgHref="https://www.vit.ac.in" imgCaption="Vellore Institute of Technology"></app-image>
		<p>
			I had got placed into one of the biggest companies in travel technology and got the opportunity to undergo internship during
			last semester of my college. During this period I simultanepusly worked on my final year project. My project guide had recently
			started working on initiatives in the smart city mission, which is a push by the Government of India to modernise cities across
			India. Hence, I decided to make a 'Smart Mirror' as my final year project. Here is video of the prototype that I made:
		</p>
		<app-youtube-video></app-youtube-video>
		<app-vertical-space></app-vertical-space>
		<p>
			Hope you enjoyed the video. Today, I am working as a software engineer at one of the companies which pioneered the global
			distribution system(GDS). Incase you want to contact me please use the Contact Me page or just click on the contact me button
			on the top right of your screen. I will get back to you as soon as possible. Thanks for dropping bye. Adios!
		</p>
	</section>
<hr>
	<app-timeline></app-timeline>
	<app-toast></app-toast>
</div>
	