<!-- <ngb-toast
  *ngIf="show"
  header="Rohan Adhyapak"
>
  <div>
    Please connect with me on LinkedIn.
  </div>
</ngb-toast> -->

<!-- <ngb-toast *ngIf="show" 
    header="Rohan Adhyapak" 
    [autohide]="true" 
    [delay]="4000" 
    (hide)="show = false; autohide = true"
    >
    <div>
        Please connect with me on LinkedIn.
    </div>
</ngb-toast> -->

<ngb-toast
      *ngFor="let toast of toastService.toasts"
      [class]="toast.classname"
      [autohide]="true"
      [delay]="toast.delay || 5000"
      (hidden)="toastService.remove(toast)"
      header="Rohan Adhyapak" 
    >
    
    <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
      <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
    </ng-template>

    <ng-template #text>{{ toast.textOrTpl }}</ng-template>
</ngb-toast>