
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline4">
                <div class="timeline">
                    <a  href="#" class="timeline-content">
                        <span class="year">2017</span>
                        <div class="inner-content">
                            <h3 class="title">Amadeus Software Labs, Bengaluru</h3>
                            <h4>January 2017 - May 2017</h4>
                            <h5>Software Engineer Intern</h5> 
                            <p class="description">
                                Worked with the Air Canada Team, to create a log crawling tool that crawls
                                backend server logs to capture booking engine error and relevant information
                                that can be used to trace the source of the issue.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2017</span>
                        <div class="inner-content">
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2016</span>
                        <div class="inner-content">
                            <h3 class="title">Web Designer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <span class="year">2015</span>
                        <div class="inner-content">
                            <h3 class="title">Web Developer</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr> -->

<div class="container">
    <div class="row text-center text-black mb-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h3 mb-0 designation"> Computer Science and Engineering(B.Tech)</h2>
                        <h5> <a href="https://vit.ac.in/" target="_blank">VIT University</a> </h5>
                        <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>January 2017 - May 2017</span>
                        <p class="text-small mt-2 font-weight-light">
                            Pursued my undergrad in Computer Science and Engineering from Vellore Institute of Technology.
                        </p>
		                <app-image imgSrc="assets/images/vit.png" imgHref="https://www.vit.ac.in" imgCaption=""></app-image>
                        <p>
                            My final year project was based on the idea of making a household item smart. I decided to 
                            design and develop a "Smart Mirror" using a Raspberry Pi SOC. The below video gives a demonstration 
                            of the same.
                        </p>
                        <br>
		                <app-youtube-video></app-youtube-video>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h3 mb-0 designation">Software Engineer Intern</h2>
                        <h5> <a href="https://amadeus.com/en" target="_blank">Amadeus</a> </h5>
                        <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>January 2017 - May 2017</span>
                        <p class="text-small mt-2 font-weight-light">
                            Worked in the Air Canada Team, to create a log crawling tool that crawls
                            backend server logs to capture booking engine error and relevant information
                            that can be used to trace the source of the error and improve the booking engine's 
                            performance and availability. 
                        </p>
                        <p>Created a user-friendly dashboard to display the captured information.</p>
		            </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h3 mb-0">Software Engineer</h2>
                        <h5> <a href="https://amadeus.com/en" target="_blank"> Amadeus </a></h5>
                        <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>November 2017 - April 2020</span>
                        <p class="text-small mt-2 font-weight-light">
                            Worked in the platform for Amadeus Developers as a full-stack developer designing 
                            and developing different modules that help actuate the Global Travel and Tourism Technology 
                            Industry.
                        </p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h3 mb-0">Senior Associate (Technology)</h2>
                        <h5> <a href="https://www.morganstanley.com/" target="_blank"> Morgan Stanley </a></h5>
                        <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>April 2020 - December 2021</span>
                        <p class="text-small mt-2 font-weight-light">
                            Worked in The Institutional Securities Technology Division, designing and 
                            developing backend systems that form the backbone of the Equity Swaps Business as part 
                            of Straight-Through Processing (STP) squad.
                        </p>
                    </li>
                    
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h3 mb-0">Manager (Technology)</h2>
                        <h5> <a href="https://www.morganstanley.com/" target="_blank"> Morgan Stanley </a></h5>
                        <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>January 2022 - August 2022</span>
                        <p class="text-small mt-2 font-weight-light">
                            Worked in a cross-team subject-matter-expert (SME) squad aimed at revamping critical components of 
                            Straight-Through Processing systems so as to do away with tightly coupled dependencies in order to 
                            make Morgan Stanley's Equity Swaps business robust and future-proof.
                        </p>
                    </li>

                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h3 mb-0 designation">M.S in Computer Science </h2>
                        <h5> <a href="https://www.gsu.edu/" target="_blank">Georgia State University</a> </h5>
                        <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>August 2022 - Present</span>
                        <p class="text-small mt-2 font-weight-light">
                            I am currently Pursuing my Masters of Science in Computer Science at Georgia State University.
                        </p>
		                <app-image imgSrc="assets/images/gsu.jpg" imgHref="https://www.gsu.edu" imgCaption=""></app-image>
                        <p class="text-small mt-2 font-weight-light">
                            I am working as a Graduate Research Assistant in DMLabs for the <a href="https://www.mlecofi.net/ " target="_blank">MLEcoFi</a> 
                            project where we are developing the largest manually-annotated dataset of H-alpha images to subsequently create a machine learning 
                            ecosystem to safeguard the planet against violent solar events such as coronal mass ejections(CME) and Solar flares.
                        </p>
                        <p> I am also supervising the creation of a PostGIS spatial database to store and query solar filaments that will help generate 
                            meaningful  insights which can be used by solar scientists to bolster their research in space weather and space weather related
                            events. 
                        </p>
                        <p>Recently presented in <a href="https://cpaess.ucar.edu/abstract-sww-2023/machine-learning-ecosystem-filament-analysis-phase-i-manually-annotated-dataset" 
                            target="_blank">UCAR</a>, 2023.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
