<div class="container blog-list">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<section class="blog">
        <div class="page-header">
          <a class = "blog-href" href="/blog">  
            <h2 class="heading">Man must explore, and this is exploration at its greatest</h2>
            <h3 class="subheading">Problems look mighty small from 150 miles up</h3>
            <p class="info">Posted by Rohan Adhyapak on October 31, 2017</p>
          </a>
        </div>
      </section>
			<hr>
			<section class="blog">
        <div class="page-header">
          <h2 class="heading">Man must explore, and this is exploration at its greatest</h2>
          <h3 class="subheading">Problems look mighty small from 150 miles up</h3>
          <p class="info">Posted by Rohan Adhyapak on October 31, 2017</p>
        </div>
      </section>
			<hr>
			<section class="blog">
        <div class="page-header">
          <h2 class="heading">Man must explore, and this is exploration at its greatest</h2>
          <h3 class="subheading">Problems look mighty small from 150 miles up</h3>
          <p class="info">Posted by Rohan Adhyapak on October 31, 2017</p>
        </div>
      </section>
		</div>
	</div>
</div>