<div class="container">
	<!-- <div class="row"> -->
		<!-- <div class="col-lg-8 col-md-10 mx-auto"> -->
			<section class="blog">
        <div class="page-header">
          <h2 class="heading">Books I read in 2018</h2>
          <p class="info">Posted by Rohan Adhyapak on October 31, 2017</p>
        </div>
        <hr>
        <div class="content">
          <p>
            Reading is one of the habits that is increasingly becoming difficult to enforce in today's world of technology.
            The way I see it, reading books enables me to have more control over my time and helps me maintain a modicum of
            daily internet interaction. It is very easy to get lost in the world wide web, with billions of dollars being poured
            into developing flamboyant user interfaces with the sole goal of giving the end user the ultimate user experience, it
            it easy to sometimes lose oneself on the internet. Reading for me is what helps me control this so that I dont spend 
            too much time simply browsing the internet. Here are the books I read in 2018:
          </p>
          <h3>The Alchemist <span class="info">by Paulo Coelho</span></h3>
          <h3>Train to Pakistan <span class="info">by Khuswant Singh</span></h3>         
          <h3>The Firm <span class="info">by John Grisham</span></h3>
        </div>
      </section>
    <!-- </div> -->
  <!-- </div> -->
</div>